.topbarCnt{
    width: 100%;
    background-color: rgb(220, 220, 255);
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
.logo{
    font-size: 1.5rem;
    color: rgb(101, 101, 255);
    margin-left: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.topbarLeft{
  
    
}
.topbarCenter{
   
  
}
.searchbar{
    
    background-color: white;
    border-radius: 0.5rem 0.5rem 0.5rem/0.5rem 0.5rem;
    margin: 0.5rem 1rem;
    padding: 0.3rem;
    align-items: center;
    display: flex;
}
.searchIcon{
    color: rgb(105, 105, 105);
    margin: 0 0.3rem;
}
.searchInput{
    outline: none;
    border: none;
    width: 100%;
}
.topbarRight{
   display: flex;
   align-items: center;
   justify-content: space-around;
   color:rgb(101, 101, 255) ;
}
.topbarLink{
    font-size: 0.9rem;
    margin-right: 0.8rem;
    cursor: pointer;
    font-weight: 600;
}
.topbarImg{
    width: 3rem;
    height: 3rem;
    border-radius: 2rem 2rem 2rem/2rem 2rem;
    margin: 0.4rem 0rem;
    object-fit: cover;
    cursor: pointer;
}
.topbarIcons{
    display: flex;
}
.topbarIconItem{
    display: flex;
    position: relative;
    margin-right: 0.9rem;
}
.topbarIconBadge{
   font-size: 0.6rem;
}