.post{
    width: 100%;
    border-radius: 0.5rem;
    border: 2px solid rgb(221, 221, 221);
    margin-bottom: 1rem;
}
.postWrapper{
    padding: 1rem;
}
.postProfileImg{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
}
.postTop{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.postTopLeft{
    display: flex;
    align-items: center;
   
}
.postUsername{
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 1rem;
    position: relative;
}
.postDate{
    font-size: 0.7rem;
    position: absolute;
    width: fit-content;
    top: 0;
    right: -4.5rem;
    color: grey;
    white-space: nowrap;
}
.postCenter{
    margin: 1.3rem 0;
}
.postText{
    font-size: 0.9rem;
    display: block;
}
.postImg{
    margin: 2rem auto;
    display: flex;
    width: 100%;
    max-height: 50rem;
    object-fit: contain;
    /* max-width: 40rem;
    max-height: 40rem; */
}
.postBottom{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.postBottomLeft{
    display: flex;
    align-items: center;
    padding: 0rem 0;
}
.likeIcon{
    margin-right: 0.5rem;
    cursor: pointer;
    height: 2rem ;
    width: 2rem;
    object-fit: contain;
}
.postLikeCounter{
    font-size: 0.8rem;
    font-weight: 500;
}
.postCommentText{
    font-size: 0.9rem;
    font-weight: 500;
    margin-right: 0.5rem;
    cursor: pointer;
}