.sidebar{
    height: calc(100vh - 61px);
    background-color: rgb(245, 245, 255);
    overflow-y: auto;
    top: 1rem;
    position: sticky;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 0.2rem;
}
::-webkit-scrollbar-track{
    background-color: rgb(224, 224, 224);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(88, 88, 88);
}
.sidebarWrapper{
    background-color: rgb(249, 249, 255);
    padding: 3rem 1rem;
    /* padding-left: 1rem; */
}
.sidebarList{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebarListItem{
    margin: 0.6rem 0rem;
    color:  rgb(121, 121, 121) ;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem 0.4rem 0.4rem/0.4rem 0.4rem;
}
.sidebarListItem:hover{
    color: rgb(81, 81, 255);
    /* background-color: rgb(223, 223, 255); */
    
}

.sidebarIcon{
    margin-right: 1rem;
}
.sidebarButton{
    border: none;
    border-radius: 0.5rem 0.5rem 0.5rem /0.5rem 0.5rem;
    font-size: 0.9rem;
    padding: 0.5rem 0.5rem;
    width: 100%;
    background-color: rgb(218, 218, 255);
    color: rgb(81, 81, 255);
    font-weight: 600;
}
.sidebarHr{
    margin: 1.5rem 0 ;
}
.sidebarFriendList{
    list-style: none;
    margin: 0;
    padding:0;
}
