.profile{
    display: grid;
    max-width: 80rem;
    margin: 0rem auto;
    grid-template-columns: auto 1fr;
}
.profileCover{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.profileCoverImg{
    height: 25rem;
    object-fit: cover;
}
.profileUserImg{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin:auto;
    object-fit: cover;
    position: absolute;
    border: 3px solid white;
    right: 0;
    left: 0;
    bottom: -6rem;

}
.profileInfo{
    margin-top: 6.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileInfoName{
    font-size: 1.5rem;
    font-weight: 600;
}
.profileInfoDesc{
    font-weight: 300;
}


.profileRightBottom{
    display: grid;
    grid-template-columns: 6fr 3fr;
}